@import "./breakpoints.scss";


.inbox__container {
    width: 750px;
    height: 800px;
    background: #eff3f7;
    margin: 90px auto 0 auto;
    font-size: 0;
    border-radius: 5px;
    overflow: hidden;
    @include media("<=phone") {
        display: none;
    }
}

.inbox__header {
    padding: 20px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid white;

    text-align: center;
    button{
        h2{
            color: white;
        }
    }
}

.inbox__fromList__user, .inbox__mobile__fromList {
    padding-left: 10px !important;
    margin-left: 10px !important;
}

.inbox__chatBox__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inbox__chatBox__alert {
    display: flex;
    flex-direction: column;

    .inbox__chatBox__text__alert {
        color: #fa5246;
        padding-left:20px ;
    }
    .inbox__chatBox__text__success {
        color: #2cb67d;
        padding-left:20px ;
    }
}

.inbox__mobile__container {
    display: none;

    @include media("<=phone") {
        display: block;
        margin-top: 10px !important;
    }
}

.inbox__mobile__header {
    @include media("<=phone") {
        background-color: #3b3e49;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        @include media("<=phone") {
            color: #ffff;
        }
    }
}



.inbox__mobile__fromList{
    display: flex !important;
    justify-content: flex-start !important;

}

.inbox__mobile__fromList__content{
    display: flex;
    flex-direction: column;

}

.chat__mobile__header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
}
.inbox__chatBox__header__btn{
    padding-left:10px;
    button{
        padding-left: 10px;
    }
}

.chat__mobile__container {
    display: none;

    @include media("<=phone") {
        display: block;
    }
}

.inbox__btn {
    p {
        font-size: 16px;
        color: white;
    }
}

.inbox__userList__text {
    color: white;
    font-size: 11px;
}


.inbox__mobile__btn,
.inbox__btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.inbox__userList {
    width: 260px;
    height: 800px;
    background-color: #3b3e49;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}

.inbox__chatBox {
    width: 490px;
    height: 800px;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}

.inbox__chatBox__container {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    overflow-y: scroll;
    height: 535px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;

    .inbox__me,
    .inbox__you {
        padding: 10px 30px;
    }

    .inbox__me {
        text-align: right;
    }

    .inbox__me {
        .inbox__text {
            background-color: #6fbced;
        }

        .inbox__triangle {
            border-color: transparent transparent #6fbced transparent;
            margin-left: 375px;
            margin-right: 10px
        }
    }

    .inbox__you {
        .inbox__text {
            background-color: #58b666;

        }

        .inbox__triangle {
            border-color: transparent transparent #58b666 transparent;
            margin-left: 15px;
        }
    }

    h2 {
        display: inline-block;
        font-size: 13px;
        font-weight: normal;
    }

    .inbox__entete {
        margin-bottom: 5px;

    }

    .inbox__triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
    }

    .inbox__text {
        padding: 20px;
        color: #fff;
        line-height: 25px;
        max-width: 90%;
        display: inline-block;
        text-align: left;
        border-radius: 5px;
    }
}

.inbox__messageForm {
    height: 155px;
    padding: 20px 30px 10px 20px;
    border-top:1px solid grey 

}

.message__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inbox__messageForm__input {
    resize: none;
    border: none;
    // display:block;
    width: 100%;
    height: 80px;
    border-radius: 3px;
    padding: 20px 10px 20px 20px;
    font-size: 13px;
}

.inbox__messageForm__btn {
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
}



.chat__noChat__text {
    text-align: center;
}
