@import "./breakpoints.scss";

//Random items

.random__image {
    height: 600px;
    width: 100%;
    @include media("<=phone") {
     height: 300px;
    }
}

#random__text {
    font-size: 24px;
    width: 30%;
    @include media("<=phone") {
    font-size: 14px;
    width: 30%;
    }
}

