@import "./breakpoints.scss";


//Random items

.random__image {
    // width:100%;
    object-fit: contain;
    height: 400px;

    @include media("<=phone") {
        height: 300px;
    }
}

#random__text {
    font-size: 24px;

    @include media("<=phone") {
        font-size: 14px;
        width: 30%;
    }
}

// Latest
.items__container {
    margin-top: 50px !important;
}

.latest__grid {
    @include media("<=phone") {
        left: 10%
    }
}

.latest__image {
    max-height: 300px;
}

// Location

.location__header {
    margin-left: 20px;
    padding-bottom: 30px;

    @include media("<=phone") {
        text-align: center;
        margin-bottom: 50px;
    }
}



// item detail
.itemDetail__img__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemDetail__img {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
    object-fit: contain;
    max-height: 500px;

    @include media("<=phone") {
        width: 100%;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
    }
}

.itemDetail__location {
    font-size: 20px;

    @include media("<=phone") {
        font-size: 15px;
    }
}

.itemDetail__description {
    margin-top: 10px;
}

.itemDetail__btn {
    margin-top: 15px;
}

.goback {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    animation: slide 2s ease-in-out .5s infinite alternate;
    width: 100%;
}

.goback:hover {

    transform: translateY(3px);
}

.goback:active {

    transform: translateY(6px);
    transition-duration: .1s;
}

// Item List
.itemList__container {
    margin-top: 50px;
}

.forDesktop {
    @include media("<=phone") {
        display: none !important;
    }

}

.forMobile {
    display: none !important;

    @include media("<=phone") {
        display: flex !important;
    }

}