@import "./breakpoints.scss";

// Profile


.profile__bg {

  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 500px;
  width: 100%;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
  margin-bottom: 50px;

  @include media("<=phone") {
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;

    height: 500px;
    width: 100%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
    margin-bottom: 50px;
  }
}

.profile__top {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .profile__photo {
    margin-top: 150px !important;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .profile__top__header {
    color: white !important;
    font-weight: 800 !important;
    text-shadow:
      1px 0 0 black,
      0 1px 0 black,
      -1px 0 0 black,
      0 -1px 0 black
  }
}

.profile__item {
  padding: 10px 0 15px 0;

}


.profile__btn__container {
  flex-direction: column;

  a {
    text-decoration: none;
    color: white !important;
    margin-bottom: 15px;
  }
}

.userPublic__btn__container {
  margin-bottom: 5px;
}